
#foreach ( $entry in $entries )
    $entry.name : $entry.comment
    <a href="/edit/$entry.id">Edit</a>
    <form method="POST" action="/delete/$entry.id">
        <input type="submit" value="Delete" />
    </form>

#end

<form method="POST" command="form">

    <p>

        #springBind("form.name")#springShowErrors("<br/>", "text-danger")
        Name: #springFormInput("form.name")

        </br>

        #springBind("form.comment")#springShowErrors("<br/>", "text-danger")
        Comment: #springFormInput("form.comment")

        <input type="submit"/>

    </p>

</form>
